# 01 Importing Libraries

In [323]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02 Importing Dataframe

In [325]:
# Importing products dataframe
path = r'C:\Users\vacgo\Documents\Achievement 4\Instacart Basket Analysis\02 Data'
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_latest_20241115_clean.pkl'))

In [326]:
ords_prods_merge.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_from_last_order     2076096
new_customer                   0
product_id                     0
add_to_cart_order              0
reordered                      0
product_name                   0
aisle_id                       0
department_id                  0
prices                         0
merge_2                        0
price_range_loc                0
busiest_day                    0
busiest_days_new               0
busiest_period_of_day          0
dtype: int64

In [327]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_last_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge_2,price_range_loc,busiest_day,busiest_days_new,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders

In [328]:
ords_prods_merge.shape

(32404859, 19)

# 03 Task

In [330]:
# Find the agg mean of order_number, groupby department_id

ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [331]:
# Check the subset again
df_subset = ords_prods_merge[:1000000]

In [332]:
df_subset.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

#### As expexted, the mean will vary but nothing stands out with a very big deviation from the subset mean

In [334]:
# Creating loyalty flag for customers
# Group by user_id for customer loyalty
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [335]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_last_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge_2,price_range_loc,busiest_day,busiest_days_new,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10

In [336]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [337]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (df['max_order'] > 10) , 'loyalty_flag'] = 'Regular customer'

In [338]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [339]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [340]:
ords_prods_merge.groupby(['loyalty_flag']).user_id.nunique()

loyalty_flag
Loyal customer       17017
New customer        112328
Regular customer     76864
Name: user_id, dtype: int64

In [341]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_last_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,merge_2,price_range_loc,busiest_day,busiest_days_new,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer

In [342]:
ords_prods_merge.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_from_last_order     2076096
new_customer                   0
product_id                     0
add_to_cart_order              0
reordered                      0
product_name                   0
aisle_id                       0
department_id                  0
prices                         0
merge_2                        0
price_range_loc                0
busiest_day                    0
busiest_days_new               0
busiest_period_of_day          0
max_order                      0
loyalty_flag                   0
dtype: int64

In [343]:
# Check Loyalty flag
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(60)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             1         10
2         1      New customer             1         10
3         1      New customer             1         10
4         1      New customer             1         10
5         1      New customer             2         10
6         1      New customer             2         10
7         1      New customer             2         10
8         1      New customer             2         10
9         1      New customer             2         10
10        1      New customer             2         10
11        1      New customer             3         10
12        1      New customer             3         10
13        1      New customer             3         10
14        1      New customer             3         10
15        1      New customer             3         10
16        1      New customer             4         10
17        1      New customer             4         10
18        1      New customer             4         10
19        1      New customer             4         10
20        1      New customer             4         10
21        1      New customer             5         10
22        1      New customer             5         10
23        1      New customer             5         10
24        1      New customer             5         10
25        1      New customer             5         10
26        1      New customer             5         10
27        1      New customer             5         10
28        1      New customer             5         10
29        1      New customer             6         10
30        1      New customer             6         10
31        1      New customer             6         10
32        1      New customer             6         10
33        1      New customer             7         10
34        1      New customer             7         10
35        1      New customer             7         10
36        1      New customer             7         10
37        1      New customer             7         10
38        1      New customer             8         10
39        1      New customer             8         10
40        1      New customer             8         10
41        1      New customer             8         10
42        1      New customer             8         10
43        1      New customer             8         10
44        1      New customer             9         10
45        1      New customer             9         10
46        1      New customer             9         10
47        1      New customer             9         10
48        1      New customer             9         10
49        1      New customer             9         10
50        1      New customer            10         10
51        1      New customer            10         10
52        1      New customer            10         10
53        1      New customer            10         10
54        1      New customer            10         10
55        1      New customer            10         10
56        1      New customer            10         10
57        1      New customer            10         10
58        1      New customer            10         10
59        2  Regular customer             1         14

In [344]:
# Remove prices of more than 100

#ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [345]:
ords_prods_merge.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_from_last_order     2076096
new_customer                   0
product_id                     0
add_to_cart_order              0
reordered                      0
product_name                   0
aisle_id                       0
department_id                  0
prices                         0
merge_2                        0
price_range_loc                0
busiest_day                    0
busiest_days_new               0
busiest_period_of_day          0
max_order                      0
loyalty_flag                   0
dtype: int64

In [346]:
# Checking the spending habits of the 3 types of customers based on prices
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

#### New customers has the highest average price, while the loyal customers has the lowest average price of products. It might mean that the new customers are buying more products while the loyal customers come back for certain products only.

In [348]:
# Creating spending flag for customers
# Group by user_id for spending flag
ords_prods_merge['ave_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [349]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_last_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,merge_2,price_range_loc,busiest_day,busiest_days_new,busiest_period_of_day,max_order,loyalty_flag,ave_spent
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
5,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
11,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
12,473747,1,3,3,12,21.0,False,12427,2,1,...,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
13,473747,1,3,3,12,21.0,False,10258,3,1,...,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
14,473747,1,3,3,12,21.0,False,25133,4,0,...,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
15,473747,1,3,3,12,21.0,False,30450,5,0,...,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
16,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
20,2254736,1,4,4,7,29.0,False,26405,5,1,...,17,1.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
21,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
22,431534,1,5,4,15,28.0,False,12427,2,1,...,19,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
23,431534,1,5,4,15,28.0,False,10258,3,1,...,19,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
24,431534,1,5,4,15,28.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
25,431534,1,5,4,15,28.0,False,10326,5,0,...,4,2.7,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
26,431534,1,5,4,15,28.0,False,17122,6,0,...,4,14.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
27,431534,1,5,4,15,28.0,False,41787,7,0,...,4,5.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
28,431534,1,5,4,15,28.0,False,13176,8,1,...,4,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
29,3367565,1,6,2,7,19.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
30,3367565,1,6,2,7,19.0,False,12427,2,1,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
31,3367565,1,6,2,7,19.0,False,10258,3,1,...,19,3.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
32,3367565,1,6,2,7,19.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
33,550135,1,7,1,9,20.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
34,550135,1,7,1,9,20.0,False,10258,2,1,...,19,3.0,both,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
35,550135,1,7,1,9,20.0,False,12427,3,1,...,19,4.4,both,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
36,550135,1,7,1,9,20.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
37,550135,1,7,1,9,20.0,False,13032,5,1,...,14,4.0,both,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
38,3108588,1,8,1,14,14.0,False,12427,1,1,...,19,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
39,3108588,1,8,1,14,14.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
40,3108588,1,8,1,14,14.0,False,10258,3,1,...,19,3.0,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
41,3108588,1,8,1,14,14.0,False,25133,4,1,...,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
42,3108588,1,8,1,14,14.0,False,46149,5,0,...,7,13.4,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
43,3108588,1,8,1,14,14.0,False,49235,6,0,...,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
44,2295261,1,9,1,16,0.0,False,49235,1,1,...,16,1.8,both,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
45,2295261,1,9,1,16,0.0,False,46149,2,1,...,7,13.4,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
46,2295261,1,9,1,16,0.0,False,25133,3,1,...,16,8.6,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
47,2295261,1,9,1,16,0.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
48,2295261,1,9,1,16,0.0,False,10258,5,1,...,19,3.0,both,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
49,2295261,1,9,1,16,0.0,False,12427,6,1,...,19,4.4,both,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
50,2550362,1,10,4,8,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
51,2550362,1,10,4,8,30.0,False,46149,2,1,...,7,13.4,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
52,2550362,1,10,4,8,30.0,False,39657,3,0,...,19,6.8,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
53,2550362,1,10,4,8,30.0,False,38928,4,0,...,16,12.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
54,2550362,1,10,4,8,30.0,False,25133,5,1,...,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
55,2550362,1,10,4,8,30.0,False,10258,6,1,...,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
56,2550362,1,10,4,8,30.0,False,35951,7,0,...,16,1.3,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
57,2550362,1,10,4,8,30.0,False,13032,8,1,...,14,4.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
58,2550362,1,10,4,8,30.0,False,12427,9,1,...,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
59,2168274,2,1,2,11,NaN,True,32792,1,0,...,19,5.2,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14,Regular customer,7.515897

In [350]:
ords_prods_merge.loc[ords_prods_merge['ave_spent'] < 10, 'spender'] = 'Low spender'

In [351]:
ords_prods_merge.loc[ords_prods_merge['ave_spent'] >= 10, 'spender'] = 'High spender'

In [352]:
ords_prods_merge['spender'].value_counts()

spender
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [353]:
ords_prods_merge[['user_id', 'spender']].tail(60)

          user_id      spender
32404799   206209  Low spender
32404800   206209  Low spender
32404801   206209  Low spender
32404802   206209  Low spender
32404803   206209  Low spender
32404804   206209  Low spender
32404805   206209  Low spender
32404806   206209  Low spender
32404807   206209  Low spender
32404808   206209  Low spender
32404809   206209  Low spender
32404810   206209  Low spender
32404811   206209  Low spender
32404812   206209  Low spender
32404813   206209  Low spender
32404814   206209  Low spender
32404815   206209  Low spender
32404816   206209  Low spender
32404817   206209  Low spender
32404818   206209  Low spender
32404819   206209  Low spender
32404820   206209  Low spender
32404821   206209  Low spender
32404822   206209  Low spender
32404823   206209  Low spender
32404824   206209  Low spender
32404825   206209  Low spender
32404826   206209  Low spender
32404827   206209  Low spender
32404828   206209  Low spender
32404829   206209  Low spender
32404830   206209  Low spender
32404831   206209  Low spender
32404832   206209  Low spender
32404833   206209  Low spender
32404834   206209  Low spender
32404835   206209  Low spender
32404836   206209  Low spender
32404837   206209  Low spender
32404838   206209  Low spender
32404839   206209  Low spender
32404840   206209  Low spender
32404841   206209  Low spender
32404842   206209  Low spender
32404843   206209  Low spender
32404844   206209  Low spender
32404845   206209  Low spender
32404846   206209  Low spender
32404847   206209  Low spender
32404848   206209  Low spender
32404849   206209  Low spender
32404850   206209  Low spender
32404851   206209  Low spender
32404852   206209  Low spender
32404853   206209  Low spender
32404854   206209  Low spender
32404855   206209  Low spender
32404856   206209  Low spender
32404857   206209  Low spender
32404858   206209  Low spender

In [354]:
# Creating frequent customer flag for Marketing
ords_prods_merge['median_days_to_order'] = ords_prods_merge.groupby(['user_id'])['days_from_last_order'].transform('median')

In [355]:
ords_prods_merge.loc[ords_prods_merge['median_days_to_order'] > 20, 'frequent_cust'] = 'Non-frequent customer'

In [356]:
ords_prods_merge.loc[(ords_prods_merge['median_days_to_order'] <= 20) & (df['median_days_to_order'] > 10), 'frequent_cust'] = 'Regular customer'

In [357]:
ords_prods_merge.loc[ords_prods_merge['median_days_to_order'] <= 10, 'frequent_cust'] = 'Frequent customer'

In [358]:
ords_prods_merge['frequent_cust'].value_counts()

frequent_cust
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
Name: count, dtype: int64

In [359]:
ords_prods_merge.groupby(['frequent_cust']).user_id.nunique()

frequent_cust
Frequent customer        86596
Non-frequent customer    59619
Regular customer         59993
Name: user_id, dtype: int64

In [360]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_from_last_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days_new,busiest_period_of_day,max_order,loyalty_flag,ave_spent,spender,median_days_to_order,frequent_cust
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2398795,1,2,3,7,15.0,False,13032,6,0,...,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
11,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
12,473747,1,3,3,12,21.0,False,12427,2,1,...,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
13,473747,1,3,3,12,21.0,False,10258,3,1,...,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
14,473747,1,3,3,12,21.0,False,25133,4,0,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
15,473747,1,3,3,12,21.0,False,30450,5,0,...,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
16,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
17,2254736,1,4,4,7,29.0,False,12427,2,1,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
18,2254736,1,4,4,7,29.0,False,10258,3,1,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
19,2254736,1,4,4,7,29.0,False,25133,4,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
20,2254736,1,4,4,7,29.0,False,26405,5,1,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
21,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
22,431534,1,5,4,15,28.0,False,12427,2,1,...,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
23,431534,1,5,4,15,28.0,False,10258,3,1,...,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
24,431534,1,5,4,15,28.0,False,25133,4,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
25,431534,1,5,4,15,28.0,False,10326,5,0,...,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
26,431534,1,5,4,15,28.0,False,17122,6,0,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
27,431534,1,5,4,15,28.0,False,41787,7,0,...,Low-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
28,431534,1,5,4,15,28.0,False,13176,8,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
29,3367565,1,6,2,7,19.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
30,3367565,1,6,2,7,19.0,False,12427,2,1,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
31,3367565,1,6,2,7,19.0,False,10258,3,1,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
32,3367565,1,6,2,7,19.0,False,25133,4,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
33,550135,1,7,1,9,20.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
34,550135,1,7,1,9,20.0,False,10258,2,1,...,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
35,550135,1,7,1,9,20.0,False,12427,3,1,...,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
36,550135,1,7,1,9,20.0,False,25133,4,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
37,550135,1,7,1,9,20.0,False,13032,5,1,...,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
38,3108588,1,8,1,14,14.0,False,12427,1,1,...,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
39,3108588,1,8,1,14,14.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
40,3108588,1,8,1,14,14.0,False,10258,3,1,...,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
41,3108588,1,8,1,14,14.0,False,25133,4,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
42,3108588,1,8,1,14,14.0,False,46149,5,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
43,3108588,1,8,1,14,14.0,False,49235,6,0,...,Low-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
44,2295261,1,9,1,16,0.0,False,49235,1,1,...,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
45,2295261,1,9,1,16,0.0,False,46149,2,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
46,2295261,1,9,1,16,0.0,False,25133,3,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
47,2295261,1,9,1,16,0.0,False,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
48,2295261,1,9,1,16,0.0,False,10258,5,1,...,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
49,2295261,1,9,1,16,0.0,False,12427,6,1,...,Low-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
50,2550362,1,10,4,8,30.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
51,2550362,1,10,4,8,30.0,False,46149,2,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
52,2550362,1,10,4,8,30.0,False,39657,3,0,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
53,2550362,1,10,4,8,30.0,False,38928,4,0,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
54,2550362,1,10,4,8,30.0,False,25133,5,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
55,2550362,1,10,4,8,30.0,False,10258,6,1,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
56,2550362,1,10,4,8,30.0,False,35951,7,0,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
57,2550362,1,10,4,8,30.0,False,13032,8,1,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
58,2550362,1,10,4,8,30.0,False,12427,9,1,...,Low-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
59,2168274,2,1,2,11,NaN,True,32792,1,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer

# 04 Export Data

In [362]:
# Exporting the dataframe to pickle
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_latest_20241115_2.pkl'))

In [363]:
ords_prods_merge.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_from_last_order     2076096
new_customer                   0
product_id                     0
add_to_cart_order              0
reordered                      0
product_name                   0
aisle_id                       0
department_id                  0
prices                         0
merge_2                        0
price_range_loc                0
busiest_day                    0
busiest_days_new               0
busiest_period_of_day          0
max_order                      0
loyalty_flag                   0
ave_spent                      0
spender                        0
median_days_to_order           5
frequent_cust                  5
dtype: int64

In [364]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_from_last_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'merge_2', 'price_range_loc',
       'busiest_day', 'busiest_days_new', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'ave_spent', 'spender', 'median_days_to_order',
       'frequent_cust'],
      dtype='object')

In [365]:
ords_prods_merge['order_hour_of_day'].value_counts().sort_index()

order_hour_of_day
0      218769
1      115700
2       69375
3       51281
4       53242
5       87961
6      290493
7      891054
8     1718118
9     2454203
10    2761760
11    2736140
12    2618532
13    2660954
14    2689136
15    2662144
16    2535202
17    2087654
18    1636502
19    1258305
20     976156
21     795637
22     634225
23     402316
Name: count, dtype: int64